.aside-cart {
    padding: 0;
    background-color: #202025;
    color: #fff;
    position: fixed;
    right: -500px;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 500px;
    height: 100vh;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart-open .aside-cart {
    right: 0;
}

.aside-cart .scrollbar-view {
    overflow: hidden;
    max-height: calc(100vh - 0px);
}

.aside-cart .scroll-content {
    padding: 60px 20px;
}

.aside-cart .scrollbar-container.vertical {
    position: absolute;
}

.aside-cart .head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.aside-cart .head h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-left: 20px;
    color: #dfbd00;
}

.aside-cart .bag {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('/img/bag.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.aside-cart .bag .count {
    position: absolute;
    right: -5px;
    bottom: -10px;
    width: 22px;
    height: 22px;
    color: #202025;
    border-radius: 50%;
    background-color: #dfbd00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.aside-cart .list {
    margin: 0 -20px;
}

.aside-cart .list .item {
    padding: 0 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside-cart .list .item * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside-cart .list .item:hover {
    background-color: #131316;
}

.aside-cart .list .item .content {
    border-top: 2px #131316 solid;
    padding: 20px 0;
    display: flex;
}

.aside-cart .list .item .content .item-img {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aside-cart .list .item .content.remove .item-img {
    opacity: 0.6;
}

.aside-cart .list .item .content .item-data .title {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.aside-cart .list .item .content.remove .item-data .title {
    opacity: 0.6;
    text-decoration: line-through;
}

.aside-cart .list .item .content .item-data .details {
    color: #999999;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.aside-cart .list .item .content.remove .item-data .details {
    opacity: 0.3;
    text-decoration: line-through;
}

.aside-cart .list .item .content .item-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    color: #dfbd00;
}

.aside-cart .list .item .content .item-value .remove {
    font-size: 22px;
    line-height: 16px;
    color: #000;
    cursor: pointer;
}

.aside-cart .list .item:hover .content .item-value .remove {
    color: #fff;
}

.aside-cart .list .item .content .item-value .price {
    font-size: 14px;
}

.aside-cart .list .item .content .item-value .price span {
    font-size: 14px;
    font-weight: bold;
}

.aside-cart .list .item .content.remove .item-value .price {
    opacity: 0.6;
    text-decoration: line-through;
}

.aside-cart .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #949495;
    padding: 25px 0px;
}

.aside-cart .subtotal h5 {
    text-transform: uppercase;
    font-weight: 600;
}

.aside-cart .subtotal .value {
    text-align: right;
}

.aside-cart .subtotal .value .price {
    color: #dfbd00;
    font-size: 24px;
}

.aside-cart .subtotal .value .price span {
    font-weight: bold;
}

.aside-cart .subtotal .value .installments {
    text-transform: uppercase;
    color: #949495;
    font-weight: 600;
}

.aside-cart .btn.btn-black {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside-cart .btn.btn-black:hover {
    color: #000;
    background-color: #dfbd00;
}