.list {
    margin-top: 80px;
}

.product {
    text-align: center;
}

.product .product-thumb {
    margin: 15px 0px;
    position: relative;
}

.product-thumb .product-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-thumb:hover .product-overlay {
    opacity: 1;
}

.product-thumb .product-overlay .btn-default {
    height: 36px;
    border: 1px #fff solid;
    background: transparent;
    color: #fff;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-thumb .product-overlay .product-actions:hover > .btn-default,
.product-thumb .product-overlay .product-actions .btn-default:hover {
    background: #fff;
    color: #000;
}

.product-thumb .product-overlay .product-actions .sizes button {
    padding: 0;
    margin: -15px;
    max-width: 0px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
}

.product-thumb .product-overlay .product-actions:hover .sizes button {
    margin: 10px 5px;
    max-width: 100px;
    max-height: 100px;
    padding: 7px;
    opacity: 1;
}

.product-thumb .product-overlay .btn-default i {
    margin-right: 10px;
}

.product .product-thumb img {
    max-width: 100%;
    width: 100%;
    border: 1px #ccc solid;
}

.product .product-title {
    text-align: center;
    font-size: 14px;
    height: 32px;
    margin-bottom: 10px;
}

.product .product-price {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.product .product-installments {
    color: #999999;
    text-align: center;
    line-height: 11px;
    font-size: 14px;
}

.product .product-installments span {
    font-weight: 600;
}

.product .product-price .cointype {
    font-size: 12px;
    font-weight: 400;
}

.product .product-price .minor {
    font-size: 12px;
    font-weight: 400;
}

.product hr {
    border-top: 2px #dfbd00 solid;
    width: 18px;
    margin: 2px auto;
}