.header {
    background: #000;
    padding: 20px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div:after,
.header > div:before {
    display: none
}

.header .bag {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('/img/bag.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.header .bag .count {
    position: absolute;
    font-size: 11px;
    right: -5px;
    bottom: -10px;
    width: 18px;
    height: 18px;
    color: #202025;
    border-radius: 50%;
    background-color: #dfbd00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}